#wall {
   position: relative;
   width: 100%;
   height: 100em;
   background-color: #034f84;
   transition: background-color 1s ease-out;
   -webkit-transition: background-color 1s ease-out;
   -moz-transition: background-color 1s ease-out;
   -ms-transition: background-color 1s ease-out;
   -o-transition: background-color 1s ease-out;
}
#wall.on{
   background-color:  #92a8d1;
} 

#lamp {
   position: absolute;
   top: 1em;
   left: 18em;
 /*   outline: 2px solid green; */
   width: 10em;
   height: 0;
   border-left: 3em solid transparent;
   border-right: 3em solid transparent;
   border-bottom: 6em solid #006a4e;
   border-top-right-radius: 40%;
   border-top-left-radius: 40%;
   z-index: 1;
 }
 #lamp.on {
    border-bottom-color: #5ca08e;
    transition: border-bottom-color ease-in 1s;
    -webkit-transition: border-bottom-color ease-in 1s;
    -moz-transition: border-bottom-color ease-in 1s;
    -ms-transition: border-bottom-color ease-in 1s;
    -o-transition: border-bottom-color ease-in 1s;
}
 
 #bulb {
   position: absolute;
   top: 5.5em;
   left: 23.5em;
   width: 5em;
   height: 3em;
   border-radius: 50% 50%;
   background-color: grey;
   transition: background-color 1s ease-out 1s;
   -webkit-transition: background-color 1s ease-out 1s;
   -moz-transition: background-color 1s ease-out 1s;
   -ms-transition: background-color 1s ease-out 1s;
   -o-transition: background-color 1s ease-out 1s;
}
#bulb.on {
   background-color: orange;
   transition: background-color 1s ease-in;
   -webkit-transition: background-color 1s ease-in;
   -moz-transition: background-color 1s ease-in;
   -ms-transition: background-color 1s ease-in;
   -o-transition: background-color 1s ease-in;
}
 
 .switch-on {
   position: absolute;
   top: 20em;
   left: 4em;
   border: 2px solid black;
   background-color: #4dff4d;
 /*   outline: 2px solid black; */
   padding: 1em 1em;
 }
 
 .switch-off {
   position: absolute;
   top: 20em;
   left: 4em;
   border: 2px solid black;
   background-color: #ff3300;
 /*   outline: 2px solid black; */
   padding: 1em 1em;
 }
 
 .lit {
   position: absolute;
   top: 7em;
   left: 8.5em;
   width: 15em;
   height: 0em;
   border-left: 10em solid transparent;
   border-right: 10em solid transparent;
   border-bottom: 15em solid rgba(255, 255, 61, 0.77);
 /*   background-color: brown; */
 }
 
